*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
    

.padre{
display: flex;
flex-flow: column nowrap;

}

.margen-interno{
    padding: 0 50px;
}

.header{
    background: url(/img/fondo.jpg);
    background-position: center;
    background-attachment:fixed ;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}
    .menu{
        background: rgba(0, 0, 0, .1);
        display: flex;
        flex-flow: row nowrap;
        height: 60px;
        align-items: center;
        border-bottom: 1px solid rgba(255,255,255,.5);;
    }
        .logo{
            flex: 1 1 auto;
        }
            .logo a{
                color: #fff;
                font-size: 30px;
            }
            .logo a:hover{
                color: #d6b704;
            }
        .nav{
            
            flex: 5 1 auto;
            
        }

        .nav a{
            color: #fff;
            font-size: 11px;
            text-transform: uppercase;
            padding: 0 10px;
            letter-spacing: 2px;

        }
        .nav a:hover{
            color: #d6b704;
        }
        .social{
            
            flex: 1 1 auto;
            display: flex;
        }
        .social a{
            font-size: 18px;
            color: #fff;
            padding: 0 5px;
        }
        .social a:hover{
            color: #d6b704;
        }
/* *************************Animación************************************* */
        .animated-text {
            font-size: 24px;
            animation: text-animation 1s infinite;
          }
          
          @keyframes text-animation {
            0% {
              opacity: 1;
            }
            50% {
              opacity: 0.5;
            }
            100% {
              opacity: 1;
            }
          }
/* *************************Fin de Animación************************************* */
    .texto-principal{
        height: 580px;
        display: flex;
        align-items: center;
    }    
        h1{
            background-color: #0d1bdf;
            font-family:'Courier New', Courier, monospace;
            font-size: 21px;
            color: #fff;
            font-weight: 500;
            
            text-align: center;
            line-height: 1.6;
        }


.section{
    background-color: #f7f7f7;
    display: flex;

}
    .articulos{
        background-color: #f7f7f7;
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
    }
        .article{
            color: #444;
            font-size: 13px;
            flex: 1 1 40%;
            letter-spacing: 1px;
            margin: 10px 10px 0 0px;
            flex: 1 1 45%;
            background-color: #ececec;
        }
        .article img{
            width: 100%;
        }
        .article a{
            color: #fff;
            font-size: 13px;
            padding: 10px;
            background-color: #000;
            margin: 10px 0;
            display: inline-block;

        }
        .article a:hover{
            background: #546cc3
        }
        h3{
            color: #fff;
            font-size: 13px;
            padding: 10px 0;
            margin-top: -80px;
        }
        h2{
          font-size: 25px;
          text-transform: uppercase;
          padding: 0px 0 10px 0;
          color: #fff;  
        }
        .navegacion{
            background-color:#000;
            flex: 1 1 100%;
            margin: 10px 10px 0 0px;
        }
        .navegacion a{
            color: #fff;
            font-size: 11px;
            text-transform: uppercase;
            padding: 0 10px;
            letter-spacing: 2px;
        }
    .aside{
        color: #fff;
        flex: 1 1 auto;
        margin: 10px 5px 10px 0;
        

    }
        .aside img{
            width: 100%;
        }
        h4{
            background: #000;
            padding: 10px;
            text-transform: uppercase;

        }
        .publicidad{
            /* background-color: darkred; */
             
        }

        
.footer{
    background-color:#000;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
    .pie{
       
       text-align: center;
      

    }
    .pie a{
        color: #fff;
        font-size: 11px;
        text-transform: uppercase;
        padding: 0 10px;
        letter-spacing: 2px;

    }

@media all and (max-width: 948px) {
.section {
    flex-direction:column ;
        }
.menu{
    flex-direction: column;
    height: auto;

}
.aside{
display: flex;
justify-content: center;
}
.animated-text{
    font-size: small;
}
.texto-principal{
    height: 600px;
}
        
}    
@media all and (max-width: 762px) {
    .articulos {
        flex-direction:column ;
    }
    }

@media all and (max-width: 400px) {
.aside{
    flex-direction: column;
}
    }
