

body {
  font-family:'Courier New', Courier, monospace    
    margin: 0;
  }



/* Se establece lo que pasara cuando la pantalla sea menor a 768 px */
@media (max-width:768px) {

}




/* Se establece la clase principal "CAJA" */

.caja {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: 00bcd4;
  padding: 10px;
}

/* Se establecen las clases "izquierda y derecha" */
.izquierda,
.derecha {
  background-color: #0859b4;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  
}

/* Se establecen los colores de fondo */
#nosotros {
  background-color: #8bc34a;
}

#registrate {
  background-color: #ff9800;
}

#eventos {
  background-color: #e91e63;
}

#contacto {
  background-color: #9c27b0;
  text-align: left;
}
footer{
  background-color: #12e4e4;
}

.instagram-button {
  display: inline-block;
  background-color: #e1306c;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}


